.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    outline: solid;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 1200px;
  }
  
  .section {
    float: top;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 0.5rem;
    text-wrap: hidden;
    margin: 2em;
  }
  
  .sectionHeader {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    grid-column: span 3;
  }

  .dishSizes {
    font-weight: 500;
    text-align: right;
  }

  .dish {
    display: contents;
  }
  
  .dishName {
    font-weight: 500;
    text-align: left;
  }
  
  .price {
    text-align: right;
  }
  
  .dishImage {
    grid-column: span 3;
    justify-self: center;

    width: 100%;
    max-width: 20em;
    height: 100%;
    max-height: 16em;

    object-fit: cover;
    object-position: center;
    
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  